@import url('reset.css');
@import url('typography.css');
@font-face{
	src:url('../fonts/Yekan.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Yekan.ttf') format('ttf'),
	    url('../fonts/Yekan.eot') format('eot'),
		url('../fonts/Yekan.woff') format('woff'),
        url('../fonts/Yekan.svg#BYekan') format('svg');
	font-family:yekan;
	font-weight:normal;
	font-style:normal;	
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  word-spacing: 3px;
}
a{
    text-decoration: none;
}
body{
    margin: 0;
    direction: rtl;
	word-wrap:break-word;
	word-break:keep-all;	
	direction:rtl;
    font-family: yekan;
	background-color:#fff;
	overflow-x:hidden;
	line-height:1.42;
}
.flex-align-center{
    display: flex;
    align-items: center;
}
.flex-justify-content-center{
    display: flex;
    justify-content: center;
}
.d-flex{
    display: flex;
}
.container{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    font-size: 1em;
    overflow: hidden;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.text-center{
    text-align: center;
}
.text-blue-landing{
    color: #110b4d;
}
.main{
    width: 95%;
    margin: 0 auto; 
}
.main2{
    width: 75%;
    margin: 0 auto; 
}
.mx-5{
    margin: 10px;
}
.bg-red{
    background-color: red;
}
.responsive-img{
    width: 100%;
    height: auto;
    margin : 0 auto;
}
.logo{
    z-index: 1000;
    top: 4%;
    left: 4%;
    max-width: 150px;
}

.title-off{
    bottom: 4%;
    margin: 0;
    text-align: center;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, 0);
}
.ltr{
    direction: ltr;
}
.mt-5{
    margin-top: 5px;
}
.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}
.mt-30{
    margin-top: 30px;
}
.text-red{
    color:#cc0000;
}
.text-white{
    color : white;
}
.title-off h2{
    font-size: 2.5em;
    font-weight: 600;
    margin-top: 15px;
}
@media screen and (max-width:990px){
    .logo{
        z-index: 1000;
        top: 4%;
        left: 4%;
        max-width: 15%;
    }
    .title-off h2{
        font-size: 1.8em;
        margin-top: 5px;
    }
}
.off{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-auto-rows:max-content;
    gap: 30px;
}
.off div{
    border: 1px solid gray;
    position: relative;
    height: 120px;
    border-radius : 10px;
}
.off div span{
    position: absolute;
    top: -20%;
    background-color : white;
    font-size: 2.5em;
    padding: 0 10px;
    left: 50%;
    transform: translate(-50%, 0);
    color:#cc0000;
}
.bg-gardient{
    background-color: #1fc8db;
    background-image : linear-gradient(-140deg, #1d4224 0%, #214b28 50%, #1d4224 70% , #214b28 80% );
    margin-top: 80px;
    padding-top: 40px;
}
.main-in{
    padding: 60px 60px;
    position: relative;
    margin-top: 60px;
}
.borders-off-b{
    position: absolute;
    width: 15%;
    bottom: 0;
    left: 0;
}
.borders-off-t{
    position: absolute;
    width: 15%;
    top: 0;
    right:0;
}
.garante h3{
    font-size: 2.6em;
    font-weight: 100 !important;
}
.garante .info-2{
    font-size: 1.7em;
    margin-top: 40px;
    font-weight: 100 !important;
    color : #ccc;
}
.img-garante{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.img-garante div{
    font-size: 2.2em;
    color : #ccc;
    display: flex;
    flex-direction: column;
}
.img-garante .mention img{
  width: 200px;
}
.img-garante .info{
    width: 300px;
    font-size: 1em;
    padding-left: 50px;
}
.info-more{
    font-size: 1.7em;
    color : #ccc;
    margin: 30px 0 20px 0;
    font-weight: 100;

}
.info-more a{
    margin-right: 10px;
    font-size: 0.9em;
}
.text-g{
    font-size: 1.2em;
}
.category img{
    width: 65px;
}
.category h3{
    font-size: 2.3em;
    padding: 50px 60px 0 60px;
    font-weight: 600;
}
.watches{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-auto-rows:max-content;
    margin-top: 50px;
    margin-bottom: 30px;
}
.watches img{
    width: 175px;
}
.watches>div{
    display: flex;
    justify-content: center;
    align-items : center;
    flex-direction: column;
}
.watches a span{
    font-size: 1.4em;
    font-weight: 600;
}
.watches a i{
    font-size: 2em;
    margin-right: 10px;
}


/* start flip */
.flip-card {
    display: inline-block;
    background-color: transparent;
    width: 350px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
    z-index: 2;
  }
  
  .flip-card-back {
    color: white;
    transform: rotateY(180deg);
    -ms-transform:rotateY(180deg);
    -moz-transform: rotateY(180deg);
      -webkit-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);

    z-index: 1;
  }
  
  .flip-card .flip-card-inner {
    animation: rotate 5s 5s infinite;
  }
  
  
  @keyframes rotate {
    0%, 60% {
      transform: rotateY(0);
      -ms-transform:rotateY(0);
      -moz-transform: rotateY(0);
	    -webkit-transform: rotateY(0);
	    -o-transform: rotateY(0);
    }
    10%, 50% {
      transform: rotateY(180deg);
      -ms-transform:rotateY(180deg);
      -moz-transform: rotateY(180deg);
	    -webkit-transform: rotateY(180deg);
	    -o-transform: rotateY(180deg);
    }
  }
/* end flip */
@media screen and (max-width:750px){
    .watches img{
        width: 120px;
    }
    .watches a span{
        font-size: 1em;
    }
    .img-garante{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .img-garante .mention img{
        display: none;
      }
      .img-garante div{
       margin-bottom: 10px;
    }
    .img-garante .info{
        padding: 0;
        text-align: center;
        width: 100%;
    }
    .flip-card {
       height: 210px;
      }
}
@media screen and (max-width:600px){
    .title-off h2{
        font-size: 1.3em;
    }
    .title-off{
        bottom: 2%;
    }
    .category img{
        width: 30px;
    }
    .category h3{
        font-size: 2.3em;
        padding: 20px 20px 0 20px;
        font-weight: 600;
    }
    .watches{
        grid-template-columns: repeat(1 , 1fr);
        gap: 30px;
    }
    .main-in{
        padding: 30px;
    }
}
@media screen and (max-width:900px){
    .off{
        grid-template-columns: repeat(2 , 1fr);
    } 
}

@media screen and (max-width:400px){
    .title-off h2{
        font-size: 1em;
    }
    .title-off{
        bottom: 0%;
    }
    .off{
        grid-template-columns: repeat(1 , 1fr);
    } 
}