@import url('reset.css');
@import url('typography.css');
@font-face{
	src:url('../fonts/Yekan.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Yekan.ttf') format('ttf'),
	    url('../fonts/Yekan.eot') format('eot'),
		url('../fonts/Yekan.woff') format('woff'),
        url('../fonts/Yekan.svg#BYekan') format('svg');
	font-family:yekan;
	font-weight:normal;
	font-style:normal;	
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
}
a{
    text-decoration: none;
}
body{
    margin: 0;
    direction: rtl;
	word-wrap:break-word;
	word-break:keep-all;	
	direction:rtl;
    font-family: yekan;
	background-color:#fff;
	overflow-x:hidden;
	line-height:1.42;
}
.flex-align-center{
    display: flex;
    align-items: center;
}
.container{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    font-size: 1em;
    overflow: hidden;
}
.text-center{
    text-align: center;
}
.main{
    width: 95%;
    margin: 0 auto; 
}
.mx-5{
    margin: 10px;
}
.top{
    width: 100%;
    margin: 0 auto;
    background-color:#ededed;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 4fr 8fr;
    grid-auto-rows:max-content;
    border-radius: 10px;
    gap: 20px;
    padding: 10px 0 ;
}
.top .clock{
    display: flex;
    flex-direction: row-reverse;
    font-size: 1.6rem;
}
.top .clock img{
    width: 140px;
}
.top .clock p{
    margin-top: 5px;
}
.top .detail .title{
    width:  max-content;
    display: flex;
    align-items:center;
    border-bottom: 1px solid black;
    padding: 10px 0;
}
.top .detail img{
    margin-left: 10px;
}
.top .detail h1{
    font-size: 2.5em;
}
.top .detail i{
    margin-right: 50px;
    font-size: 24px;
}
.top .detail h3{
    margin-top: 15px;
    font-size: 2em;
}
.top .detail p{
    margin-top: 10px;
    font-size: 1.4em;
}
.top-more{
    display: flex;
    width: 100%;
    justify-content: space-around;
    grid-column: 1/-1;
    font-size: 1.2em;
}
.top-more p{
    color: #b01c1c;
}
.top-more a img{
    margin-right: 5px;
}

/* media query */

@media screen and (max-width : 600px){
    .top{
        grid-template-columns: 1fr;   
    }
    .top .clock{
        justify-content: center;
    }
    .top .detail{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.map{
    background-image : url('../Images/map.jpg');
    height: 300px;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.point{
   padding: 10px;
   background-color: white;
   border-radius: 5px;
   min-height: 100px;
   position: absolute;
   right: 20%;
   top: 20%;
   width: 200px;
 
}
.point .title{
    display: flex;
    justify-content: space-between;
}
.point .title img{
    width: 32px;
    height: 20px;
}
.point .title i{
    font-size: 1.9em;
    color: #aaa;
}
.point .title h5{
    margin-top: 7px;
    font-weight: 200;
}
.point .title h6{
    margin-top: 5px;
    font-weight: 200;
    color: #b01c1c;
}
.point .add{
   margin-top: 10px; 
}
.add i{
    padding: 5px 6px;
    border-radius: 50px;
    border: 1px solid #ccc;
}
.point .add span{
    color: #13800e;
    font-weight: 200;
    margin-right: 10px;
}
.list-country .text-green{
    color: #13800e;
    font-weight: 100;
    font-size: 1.3em;
    margin-right: 10px;
}
.text-black{
    color: #1d1d1d;
    font-weight: 100;
    font-size: 1.3em;
    margin-right: 10px;
}
.list-country {
    width: 100%;
    margin-top: 30px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 4fr 5fr 4fr;
    gap: 20px;
    padding: 10px 0;
}
.bg-grey{
    background-color:#ededed;
    border-radius: 10px;
}
.bg-grey-2{
    background-color: #c8c8c8;
    border-radius: 10px;
}
.list-country .search-country{
    display: flex;
    justify-content: center;
}
.list-country .search-country div{
    position: relative;
}
.list-country .search-country input{
    width: 320px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    position: relative;
}
.list-country .search-country i{
   position: absolute;
   top: 5px;
   left: 5px;
   font-size: 1.4em;

}
.mt-5{
    margin-top: 5px;
}
.mt-10{
    margin-top: 10px;
}
.ml-5{
    margin-left: 5px;
}
.mr-5{
    margin-right: 5px;
}

@media screen and (max-width : 720px) {
    .list-country {
        grid-template-columns: 1fr;
    } 
}
.country-clock{
   display: flex;
   justify-content: center;
   margin-top: 10px;
}
.justify-content-center{
    display: flex;
    justify-content: center;
}
.d-flex{
    display: flex;
}
.text-danger{
    margin-top: 5px;
    font-weight: 200;
    color: #b01c1c;
}
.align-item-center{
    align-items: center;
}
.background-select{
    padding: 20px 20px 15px 20px;
    border-radius: 5px;
    width: 210px;
    justify-content: center;
    margin: 10px 15px;
}
.bg-dark{
    background-color : #ccc;
}
.country-clock .more{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 15px;
}
.country-clock .more i{
    font-size: 1.5em;
    margin-right: 10px;
}
.main-card{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    margin-top: 10px;
    gap: 10px;
    margin-bottom: 150px;
}
.main-card .card-t{
    display: flex;
    padding: 10px 10px;
    justify-content: space-between;
    align-items: center;
    background-color:#ededed;
    border-radius: 10px;
    min-height: 25px;
}
.main-card .card-t .fa-caret-left{
    font-size: 1.5em;
}


/* media query */

@media screen and (max-width : 400px){
    .list-country .search-country input{
        width: 200px;
     }
}
@media screen and (max-width : 700px){
    .country-clock{
        flex-direction: column;
        align-items: center;
    }
    .text-h{
        font-size: 1.6em;
    }
    .main-card{
        grid-template-columns: repeat(1 , 1fr);
    }
}
